<mat-card class="card-container">
    <mat-card-title>Потребители</mat-card-title>

    <mat-card-content>

        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Филтър">
        </mat-form-field>

        <mat-table [dataSource]="items" matSort matSortActive="username" matSortDisableClear matSortDirection="asc">
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Потребителско име</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="displayName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Име</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.displayName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="customerUic">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Клиент</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.customerUic}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="do">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Действия</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="edit(element)">
                        <mat-icon>create</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="delete(element)" *ngIf="!isAdmin(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

        </mat-table>

    </mat-card-content>
</mat-card>
