@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

// Include the default theme styles.
@include angular-material-theme($candy-app-theme);

.theme-1 {
    $primary: mat-palette($mat-blue-grey);
    $accent:  mat-palette($mat-amber, A200, A100, A400);
    $warn:    mat-palette($mat-deep-orange);
    $theme:   mat-light-theme($primary, $accent, $warn);
    @include angular-material-theme($theme);
}
.theme-2 {
    $primary: mat-palette($mat-grey);
    $accent:  mat-palette($mat-orange, A200, A100, A400);
    $theme:   mat-light-theme($primary, $accent);
    @include angular-material-theme($theme);
}
.theme-3 {
    $primary: mat-palette($mat-light-blue);
    $accent:  mat-palette($mat-deep-orange, A200, A100, A400);
    $theme:   mat-dark-theme($primary, $accent);
    @include angular-material-theme($theme);
}
.theme-4 {
    $primary: mat-palette($mat-yellow);
    $accent:  mat-palette($mat-blue, A200, A100, A400);
    $theme:   mat-dark-theme($primary, $accent);
    @include angular-material-theme($theme);
}

.mat-toolbar {
    .demo-toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
}
